<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Топ новостей из России</title>
    <link rel = 'stylesheet' href = 'static/css/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <header class="main-header">
      <nav class="main-menu">
            <ul>
              <li><a href="Main_page.html">О нас</a></li>
              <li><a href="News.html">Новости и комментарии</a></li>
              <li><a href="Contacts.html">Контакты</a></li>
            </ul>
          </nav>

    <section class="feedback">
      <div class="container">
        <h2 class="feedback-title">Оставьте свои контакты и мы свяжемся с Вами:</h2>
        <a href="#" class="feedback-all"></a>
        <div class="feedback-item">
          <div class="feedback-author">
            <img src="img/user.jpg" width="133" height="133" alt="">
            <form class="contacts-form" action="" method="post">
          <table>
            <tr>
              <td class="title">
                <label for="fullname">Имя:</label>
              </td>
              <td class="field">
                <input type="text" id="fullname" name="fullname" placeholder="Введите Ваше имя">
              </td>
            </tr>
            <tr>
              <td class="title">
                <label for="age">Контакты:</label>
              </td>
              <td class="field">
                <input type="text" id="age" name="age" placeholder="Введите Ваши данные">
              </td>
              <td class="field">
                <input type="submit" class="btn btn-green" value="Отправить">
              </td>
            </tr>
        </div>
      </div>
    </section>
</body>
</html>