<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Топ новостей из России</title>
    <link rel = 'stylesheet' href = 'static/css/style.css'>
</head>

<body>

    <header class="main-header">
      <nav class="main-menu">
            <ul>
              <li><a href="Main_page.html">О нас</a></li>
              <li><a href="News.html">Новости и комментарии</a></li>
              <li><a href="Contacts.html">Контакты</a></li>
            </ul>
          </nav>
      <div class="container">
        <div class="header-top">
          <div class="logo">
            <img src="static/img/Top-picture.png" width="1000" height="500" alt="A+">
          </div>
        </div>
        <div class="promo">
          <div class="promo-title">Получите самую актуальную информацию из первых рук!</div>
          <p></p>
          <a href="News.html" class="btn btn-green">Поиск новостей</a>
        </div>
      </div>
    </header>

    <section class="features">
      <div class="container">
        <div class="features-item">
          <div class="features-icon features-icon-schedule"></div>
          <h2 class="features-title">Кто мы?</h2>
          <p>Команда журналистов, нацеленная на актуальные новости</p>
        </div>
        <div class="features-item">
          <div class="features-icon features-icon-practice"></div>
          <h2 class="features-title">Что мы делаем?</h2>
          <p>Отбираем для вас топ новостей из России и со всего мира</p>
        </div>
        <div class="features-item">
          <div class="features-icon features-icon-work"></div>
          <h2 class="features-title">Почему нам важно Ваше мнение?</h2>
          <p>Без обратной связи от аудитории журналисты перестают развиваться</p>
        </div>
      </div>
    </section>

  </body>
</html>
